<nav class="navbar navbar-expand-lg d-print-none" id="main-nav">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }}">
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}">
    </a>
    {% if page.navigation and site.data[page.navigation] %}
      {% assign navigation = site.data[page.navigation] %}
    {% elsif site.data.navigation %}
      {% assign navigation = site.data.navigation %}
    {% endif %}
    {% if navigation %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        Menu <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-menu">
        <span class="glc-site-context">Ecosystem:</span>
        <ul class="navbar-nav">
          {% for item in navigation %}
            {% if item.menu %}
              <li class="nav-item dropdown{% if item.href %} nav-item-with-landing{% endif %}">
                {% if item.href %}
                  <a class="nav-link{% if item.href == page.url %} active{% endif %}"
                     href="{{ item.href | relative_url }}">
                    {{ item.text }}
                  </a>
                  <button class="nav-link dropdown-toggle dropdown-toggle-split" type="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Open {{ item.text }} menu</span>
                  </button>
                {% else %}
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    {{ item.text }}
                  </a>
                {% endif %}
                <div class="dropdown-menu dropdown-menu-end">
                  {% for subitem in item.menu %}
                    {% if subitem.href %}
                      <a class="dropdown-item{% if subitem.href == page.url %} active{% endif %}"
                         href="{{ subitem.href | relative_url }}"
                         {% if subitem.new_window %}target="_blank" rel="noopener noreferrer"{% endif %}>
                        {{ subitem.text }}
                      </a>
                    {% elsif subitem.text contains '---' %}
                      <div class="dropdown-divider"></div>
                    {% else %}
                      <h6 class="dropdown-header">{{ subitem.text }}</h6>
                    {% endif %}
                  {% endfor %}
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link{% if item.href == page.url %} active{% endif %}"
                   href="{{ item.href | relative_url }}"
                   {% if item.new_window %}target="_blank" rel="noopener noreferrer"{% endif %}>
                  {{ item.text }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</nav>
